/* || RESETS */
html{
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

/* || GENERAL STYLES */
#root {
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  padding-block: 30px;
  box-sizing: border-box;
  width: 700px;
  height: 100%;
}
body {
  margin: 0;
}
h1 {
  margin: 0;
}

/*VIDEO INPUT FORM*/
video {
  display: block;
  margin: 1rem auto;
  max-width: 500px;
  max-height: 500px;
}

button[type="submit"] {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 500px;
  max-height: 500px;
}

form {
  width: 100%
}

input[type="number"] {
  width: 5em;
  margin-right: 30px;
}

.input_line {
  margin-top: 10px;
  width: 100%;
  margin-inline: auto;
}

ul {
  text-align: left;
  margin-inline-start: 15%;
  margin-block: 0;
}

p {
  margin-block-end: 0;
  margin-block-start: 1em;
}