/* || RESETS */
html{
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

/* || GENERAL STYLES */
body {
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  padding-block: 60px;
  padding-inline: 30px;
  box-sizing: border-box;
  width: 700px;
  height: 100%;
}
h1 {
  margin: 0;
}

/*VIDEO INPUT FORM*/
video {
  display: block;
  margin: 1rem auto;
  max-width: 500px;
}

button[type="submit"] {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 500px;
}

input[type="number"] {
  width: 5em;
  margin-right: 30px;
}

.input_line {
  margin-top: 10px;
  width: 500px;
  margin-inline: auto;
}